@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
@media (min-width: 1200px) {
    /* стили указанные здесь применяются, если ширина viewport больше или равно 1200px */
    html, body {
        overflow: hidden;
    }
    .rectangle {
        position: absolute;
        width: 100vh;
        height: 100vh;
        left: -25vw;
        top: -50vh;
        border-radius:50%;
        background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
        mix-blend-mode: normal;
        opacity: 0.5;
        transform: rotate(-173deg);
    }

    .rectangle_second {
        height: 150vh;
        width: 150vh;
        right: -15vw;
        top: 25vw;
        background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
        mix-blend-mode: normal;
        opacity: 0.25;
        transform: rotate(-173deg);
        border-radius:50%;
        position: absolute;
    }
}

@media (max-width: 1199.98px) {
    html, body {
        overflow: hidden;
    }
    .rectangle {
        width: 100vw;
        height: 100vw;
        left: -50vw;
        top: -110px;
        border-radius:50%;
        background: linear-gradient(181deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
        mix-blend-mode: normal;
        opacity: 0.5;
        transform: rotate(-173deg);
        position: absolute;
    }

    .rectangle_second {
        height: 80vh;
        width: 80vh;
        left: 40vw;
        top: 100vw;
        background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
        mix-blend-mode: normal;
        opacity: 0.25;
        transform: rotate(-173deg);
        border-radius:50%;
        position: absolute;
    }
}
.rectangle_second__overflow{
    overflow: hidden;
}
.outer {
    background-size: cover;
    background: #19A1AE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
/* Rectangle */
p {
    font-family: Kumbh Sans, serif;
    color: #2E3349;
}
.card {
    background: #FFFFFF;
    box-shadow: 0 50px 100px -20px rgba(8, 70, 94, 0.504835);
    border-radius: 15px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    z-index: 9999;
    margin-right: auto;
    margin-left: auto;
    position:relative;
}

.card__header {
    padding-top: 140px;
    background-image: url("images/bg-bubbles.svg");
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.card__border {
    height: 1px;
    background: #E8E9EC;
}
.card__foto_image {
    position: relative;
    width: 96px;
    height: 96px;
    top: -48px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("images/Face cut 2.jpg");
    background-size: cover;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
}
.card__center {
    position: relative;
    margin-bottom: 30px;
}
.card__info {
    width: 100%;
    margin-top: -31px;
}
.card__name {
    font-family: Kumbh Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.card__info_normal {
    font-weight: normal;
    color: #6B7082;
}
.card__info_city {
    font-size: 14px;
    text-align: center;
    color: #6B7082;
    font-weight: normal;
}
.card__bottom {
    margin: 25px;
    font-size: 0;
}
.card__bottom_text {
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.row {
    width: 33.33%;
    white-space: normal;
    display: inline-block;
}
